.title {
  margin: 8px 0 24px 0;
  padding-left: 20px;
  font-size: 1.4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2B4367;
  position: relative;
  &:before{
    position: absolute;
    height: 100%;
    left: 0;
    width: 5px;
    content: '';
    background: #fcb900;
  }
}