.block {
  .container {
    max-width: 100%;
    min-height: 100%;
    margin: 48px 147px 48px 147px;
    display: flex;
    justify-content: space-between;
    .info{
      display: flex;
      flex-direction: column;
      span{
        color: #404348;
        letter-spacing: 1px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 15px;
      }
    }
  }
}
