@import "../../assets/style/mixin";


.block {
  margin-top: 24px;
  .container {
    margin: 70px 147px 48px 147px;
    @include media(1200px){
      margin: 70px 50px;
    }

    .block {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
    }
  }
}
