@import "../../assets/style/container.module";

.btn {
  position: absolute;
  top: 170px;
  left: 180px;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  border: 1px solid #2B4367;
  border-radius: 3px;
  padding: 15px 40px;
  background: rgba(255, 255, 255, .4);
  transition: .2s;

  &:hover {
    background: rgba(255, 255, 255, .8);
  }
}

.block {

  .container {
    @extend .container;

    .main {
      margin: 48px 0 48px 0;

      .contacts {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        @include media(1200px) {
          justify-content: space-around;
        }

        .item {
          width: 520px;
          height: 220px;
          background: #F0F0F0;
          margin: 0 10px 30px 10px;
          @include media(1383px) {
            width: 500px;
          }
          @include media(1313px) {
            width: 420px;
          }
          @include media(1040px) {
            width: 400px;
          }
          @include media(940px) {
            width: 520px;
          }
          @include media(570px) {
            width: 320px;
          }
          @include media(370px) {
            width: 290px;
          }

          .contact {
            padding: 30px;

            .infoBlock {
              position: relative;
              margin-bottom: 15px;

              h3 {
                font-size: 1em;
                color: #2B4367;
                text-transform: uppercase;
                font-weight: bold;
              }

              a {
                margin-top: 10px;
                display: flex;
                color: #404348;
                transition: .3s;
                font-weight: 500;
                .tel{
                  min-width: 140px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                span{
                  margin-left: 10px;
                }

                &:hover {
                  color: #2D98AC;
                }
              }

              .mail {
                display: block;
                line-height: 1.2;
                font-size: .9em;
                margin: 15px 0 15px 0;
              }

              .btn {
                @extend .btn;
                top: 100px;
                left: 0;
                @include media(570px) {
                  top: 120px;
                }
              }
            }
          }
        }

        .blockContact {
          width: 520px;
          height: 265px;
          text-align: center;
          position: relative;
          @include media(1383px) {
            width: 500px;
          }

          @include media(1313px) {
            width: 420px;
          }
          @include media(1040px) {
            width: 400px;
          }
          @include media(940px) {
            width: 520px;
          }
          @include media(570px) {
            height: 220px;
            width: 320px;
          }
          @include media(370px) {
            width: 290px;
          }

          img {
            width: inherit;
            height: inherit;
          }

          .btn {
            @extend .btn;
            left: 160px;
            @include media(1313px) {
              left: 120px;
            }
            @include media(940px) {
              left: 160px;
            }
            @include media(570px) {
              top: 150px;
              left: 70px;
            }
          }
        }
      }
    }
  }

}