@import '../../assets/style/container.module';
@import "../../assets/style/mixin";

.container {
 @extend .container;


  .block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 48px 0 48px 0;

    .containerBlock {
      width: 70%;

      @include media(730px){
        width: 100%;
      }

      .catalog {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
      }
    }
  }
}