.item {
  box-sizing: border-box;
  min-height: 100px;
  max-width: 350px;
  margin: 20px 10px;
  background: rgba(255, 255, 255, .9);
  padding: 30px 15px 15px;
  border-radius: 3px;
  position: relative;

  img {
    height: 50px;
    position: absolute;
    top: -25px;
    left: 40%;
  }

  .info {
    h5 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: .9em;
      color: #2B4367;
      margin-bottom: 5px;
    }

    span {
      font-size: .9em;
      line-height: 1.3;
    }
  }
}