@import "../../assets/style/container.module";

.block {
  min-height: 40vh;

  .container {
    @extend .container;

    .main {
      margin: 48px 0 48px 0;
      display: flex;
      justify-content: space-between;

      .containerBlock {
        width: 70%;
        margin-right: 20px;
        @include media(730px){
          width: 100%;
        }

        header {
          border-bottom: 1px solid #ececf6;
          display: flex;
          justify-content: space-between;
          align-items: end;
          padding-bottom: 24px;
          margin-bottom: 24px;

          h1 {
            font-size: 1.6em;
            color: #404348;
            font-weight: 700;
            letter-spacing: 1px;
          }

          img {
            max-height: 60px;
          }
        }

        .infoBlock {
          border-bottom: 1px solid #ececf6;
          padding-bottom: 24px;
          margin-bottom: 24px;

          .brand {
            color: #6c757d;
            font-size: 90%;
            font-weight: 400;

            .item {
              color: #777;
              border: 1px solid #777;
              font-size: .8em;
              letter-spacing: 1px;
              text-transform: uppercase;
              padding: 1px 4px 2px;
              border-radius: 3px;
              transition: .2s;
            }
          }
        }

        .description {
          p {
            color: #404348;
            letter-spacing: 1px;
            line-height: 24px;
            font-weight: 400;

          }
        }
      }
    }
  }
}