@import "../../assets/style/mixin";

.container {
  width: 100%;
  height: 100%;
  @include media(430px) {
    width: 90vw;
  }

  .head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    margin-bottom: 20px;

    h5 {
      margin-bottom: 0;
      line-height: 1.5;
      font-weight: 500;
      font-size: 1.25rem;
    }

    button {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
      outline: none;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .block {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .fromContainer {
      width: 100%;

      .item {
        color: #6c757d;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

        span {
          display: block;
          text-align: left;
          font-size: .8rem;
          font-weight: 400;
          line-height: 1.5;
        }

        .red {
          color: red;
        }

        input {
          box-sizing: border-box;
          color: #666;
          border: 1px solid #ccc;
          border-radius: 3px;
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          background-color: #fff;
          background-clip: padding-box;
        }

        textarea {
          box-sizing: border-box;
          width: 100%;
          height: calc(2em + 2rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
        }

        button {
          width: 100%;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          font-size: .8em;
          color: #6c757d;
          background: none;
          padding: 10px 8px;
          letter-spacing: 1px;
          border-radius: 3px;
          border: 1px solid #6c757d;
          transition: .2s;

          &:hover {
            color: #2B4367;
            border: 1px solid #2B4367;
          }
        }
      }
    }

    .modalImg {
      margin: auto;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media(430px) {
        display: none;
      }

      img {
        width: 121px;
        height: 121px;
      }
    }
  }
}