.block {
  position: fixed;
  z-index: 19;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  &::before {
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: 1;
  }

  .container {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 28;
  }

  .modal {
    position: absolute;
    top: 50px;
    min-height: 500px;
    max-width: 500px;
    background: #fff;
    z-index: 29;
    box-sizing: border-box;
    padding: 8px 16px 16px 25px;
    border-radius: 0.3rem;
  }

}