@import "../../assets/style/mixin";

.block {
  width: 255px;
  max-height: 510px;
  background: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
  @include media(730px){
    display: none;
  }

  .item {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #ccc;


    &:hover {
      a {
        color: #2D98AC;
      }
    }

    a {
      color: #404348;
      margin-left: 20px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: .85em;
      letter-spacing: 1px;
      font-weight: 700;
      transition: .2s;
    }
    .activeLink{
      color: #2D98AC;
    }
  }
}
