@import "../../../assets/style/container.module";

.block {
  width: 100%;
  min-height: 65px;
  background: #fff;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 10%);

  .container {
    @extend .container;

    .blockNav {
      display: flex;

      .logo {
        text-align: right;
        a{
          color: #2B4367;

          .lg {
            width: 120px;
            max-height: 70px;
            color: #2B4367;
          }
        }

      }

      .nav {
        display: flex;

        a {
          height: 100%;
          min-width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 65px;
          color: #404348;
          font-weight: 600;
          text-transform: uppercase;
          font-size: .8em;
          letter-spacing: 1px;
          position: relative;

          &:hover:before {
            position: absolute;
            content: '';
            bottom: 0;
            width: 100%;
            height: 3px;
            background: #fcb900;

          }

          &:hover {
            background: #eeeeee;
          }
        }
      }

    }

  }
}
.activeLink{
  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #fcb900;

  }
    background: #eeeeee;
}