@import "../../assets/style/mixin";

.box {
  max-width: 540px;
  max-height: 190px;
  margin-left: 120px;
  @include media(1200px) {
    margin-left: 50px;
  }
  @include media(630px) {
    margin:auto;
  }

  .item {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    padding: 0 20px;
    text-shadow: 0 0 3px rgb(0 0 0 / 20%);
    color: #fff;
  }
}