@import "../../assets/style/container.module";
@import "../../assets/style/mixin";

.block {
  margin: 48px 0;

  .container {
    @extend .container;

    .containerBlock {
      width: 70%;

      @include media(730px){
        width: 100%;
      }
      .head {
        width: 80%;
        min-height: 60px;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
        position: relative;


        span {
          position: absolute;
          font-size: 80%;
          font-weight: 400;
          top: 58px;
          @include media(450px){
            top: 85px;

          }

          img {
            width: 11px;
            margin-right: 5px;
          }
        }

      }
      .catalog{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
      }
    }
  }
}

.default {
  color: #818182;
  background-color: #fefefe;
  border: 1px solid #fdfdfe;
}

.warning {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}