@import "../../assets/style/container.module";
@import "../../assets/style/mixin";


.block {
  width: 100%;
  min-height: 315px;
  background: #2B4367;

  .container {
    padding: 40px 0 40px 0;
    @extend .container;
    @include media(765px) {
      flex-wrap: wrap;
    }

    a, span {
      text-transform: uppercase;
      font-size: .8em;
      margin-bottom: 10px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #F0F0F0;
      display: flex;
      align-items: center;
      .sup{
        font-size: .7em;
      }
    }

    .contactsBlock {
      width: 255px;
      margin: 0 15px 0 15px;
      display: flex;
      flex-direction: column;
      @include media(765px) {
        width: 100%;
      }
    }

    .requisitesBlock {
      width: 350px;
      margin: 0 15px 0 15px;
      display: flex;
      flex-direction: column;
      @include media(765px) {
        width: 100%;
        margin-top: 20px;
      }
    }

    .catalogBlock {
      width: 455px;
      margin: 0 15px 0 15px;
      display: flex;
      flex-direction: column;
      @include media(765px) {
        width: 100%;
        margin-top: 20px;

      }

      .nav {
        display: flex;
        flex-wrap: wrap;

        .linkItem {
          width: 215px;
          height: 24px;

          &:hover {
            a {
              margin-left: 5px;
              color: gold;
            }
          }

          a {
            transition: all 0.5s;
          }
        }
      }
    }
  }
}