@import "../../../assets/style/container.module";

.block {
  width: 100%;
  height: 35px;
  background: #2B4367;

  .container {
    @extend .container;

    .loc {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
      }
    }
    .info{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        margin: 0 10px 0 10px;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        display: flex;
        align-items: center;

      }

    }
  }
}