@import "../../assets/style/container.module";

.block {
  .container {
    @extend .container;
    flex-direction: column;


    .main {
      margin: 48px 0 48px 0;
      display: flex;
      @include media(900px) {
        flex-direction: column;
        align-items: center;
      }

      .description {
        display: flex;
        flex-direction: column;


        .info {
          display: flex;
          flex-direction: column;

          span {
            display: block;
            color: #404348;
            letter-spacing: 1px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 15px;
          }
        }
      }
    }

    .items {
      margin: 0px 0 48px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: space-evenly;

    }
  }
}